



    
    
    <div class="footer">
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-2 f_min_cont">
                <h3 class="footer-title">OUR SERVICES</h3>
                <br>
                <div>
                    <ul class="list-group">
                        <li class="list-group-item">Graphics Design</li>
                        <li class="list-group-item">Mobile App Development</li>
                        <li class="list-group-item">Website Maintenance</li>
                        <li class="list-group-item">SEO Services</li>
                        <li class="list-group-item">Dedicated Hiring</li>
                    </ul>
                </div>
            </div>
            <div class="col-md-2 pt-1 f_min_cont">
                <h3 class="footer-title">QUICK ACCESS</h3>
                <br><br>
                <li class="list-group-item">Website Development</li>
                        <li class="list-group-item">Content Writing</li>
                        <li class="list-group-item">Software Development</li>
                        <li class="list-group-item">Strategy & Consulting</li>
                       
            </div>
            <div class="col-md-2 f_min_cont">
                <h3 class="footer-title">ABOUT</h3>
                <br>
                
                    <ul class="list-group">
                        <li class="list-group-item">About Us</li>
                        <li class="list-group-item">How We Proceed</li>
                        <li class="list-group-item">How We Work</li>
                        <li class="list-group-item">Our Capabilities</li>
                        <li class="list-group-item">Blog</li>
                        <li class="list-group-item">Clients</li>
                    </ul>
            </div>
            <div class="col-md-2 f_min_cont">
                <h3 class="footer-title">OUR ADDRESS</h3>
                <br>
                <ul class="list-group" style="list-style:none;">
                    <li class="list-group-item-address">
                        KOLKATA H.O
                            </li>
                    <li class="list-group-item-address">
                107 Rabindra sarani Durganagar<br>
                India – Kolkata 700065
                    </li>
                    <li class="list-group-item-address">
                        info@intlum.com
                    </li>
                    <li class="list-group-item-address">
                        +91 9749959045
                    </li>
                    <li class="list-group-item-address">+91 7384759747</li>
                </ul>
            </div>
    
            <div class="col-md-1"></div>
            <hr style="width:100%;margin:70px 0px;">
        </div>
        
          <!--Social icon coding here-->
    <div class="row py-2">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <div class="social-cont">
                <div class="social-icon" > 
                    <fa-icon [icon]="faYoutube"></fa-icon>  
                </div>
                <!--Second icon-->
                <div class="social-icon" >
                    <fa-icon [icon]="faFacebook"></fa-icon>    
                </div>
                <!--Third icon-->
           <div class="social-icon">  
          <fa-icon [icon]="faTelegram"></fa-icon>
                </div>
                <!--Fourth icon-->
                <div class="social-icon">
           <fa-icon [icon]="faTwitter"></fa-icon> 
                </div>
            </div>
        </div>
        <div class="col-md-3"></div>
    </div>
    <!--end social icon coding here-->
        <p class="text-center my-0 py-0">Copyright 2019 Intlum | All Rights Reserved</p>
        
        <!-- <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4"></div>
            <div class="col-md-4">
                    <p class="copy-right">Copyright 2019 Intlum | All Rights Reserved</p>
            </div>
        </div> -->
    </div>

  
    
    
    
