<div class="message">
    <div class="row">
       <div class="col-md-1"></div>
       <div class="col-md-6">
           <h1 class="message-number">9749-959-045</h1>
           <h1 class="title">Ready To Speak With A Marketing
               Expert?<b> Give Us A Ring</b></h1>
               <ul class="list-group">
                   <li class="list-group-item">
                       <h1><i class="fa fa-binoculars"></i>&nbsp;&nbsp;&nbsp;1.6M Hours of Expertise</h1>
                   </li>
                   <li class="list-group-item">
                       <h1><i class="	fa fa-briefcase"></i>&nbsp;&nbsp;&nbsp;Digital Marketing Masters On Staff</h1>
                   </li>

                   <li class="list-group-item">
                       <h1><i class="fa fa-bullhorn"></i>&nbsp;&nbsp;&nbsp;1,128 Websites Launched</h1>
                   </li>

                   
               </ul>
       </div>
       <div class="col-md-4">
           <div class="cont-form">
               <h1 class="form-title">Send Your Details and Know How<br><b>Your BUSINESS CAN GROW</b></h1>
               <br>
               <div class="form-group mb-4">
                   <input type="text" placeholder="Your Name" class="form-input">
               </div>

               <div class="form-group mb-4">
                   <input type="text" placeholder="Company Name" class="form-input">
               </div>

               <div class="form-group mb-4">
                   <input type="text" placeholder="Email" class="form-input">
               </div>

               <div class="form-group mb-4">
                   <input type="text" placeholder="Phone Number" class="form-input">
               </div>

               <div class="form-group mb-4">
                   <input type="text" placeholder="Your Ideas" class="form-input">
               </div>

               <button type="submit" class="contact">CONTACT US </button>

           </div>
       </div>
       <div class="col-md-1 "></div>
   </div> 
</div>
