<div class="main">
    <div class="main-content">
        <div class="row">
            <div class="col-md-7">
                <h1 class="heading">Our Offices</h1>
                <div class="clock-cont">
               <ul class="clock">
              <li class="sec"></li>
              <li class="min"></li>
              <li class="hour"></li>
               </ul>
                </div>
                <h1 class="head-office"><span>Kolkata, India</span> ( Head Office )</h1>
                 <address>
                    <p class="location"><fa-icon ngClass="fa-location" [icon]="faLocation"></fa-icon>107, Rabindra Sarani Bye Ln, Durga Nagar, North Dum Dum, Kolkata</p>
                    <p class="contact-details"><fa-icon ngClass="fa-phone" [icon]="faPhoneVolume" [styles]="{'transform':'rotate(-40deg)'}"></fa-icon> 900-720-6290 / 896-163-5454 <fa-icon ngClass="fa-at" [icon]="faAt"></fa-icon> infokarimul@gmail.com</p>
                </address>

                <div class="clock-cont">
                    <ul class="clock">
                   <li class="sec"></li>
                   <li class="min"></li>
                   <li class="hour"></li>
                    </ul>
                     </div>
                     <h1 class="head-office"><span>Dubai</span> ( Branch Office )</h1>
                      <address>
                         <p class="location"><fa-icon ngClass="fa-location" [icon]="faLocation"></fa-icon>Level 23 Boulevard Plaza Tower 2</p>
                         <p class="contact-details"><fa-icon ngClass="fa-phone" [icon]="faPhoneVolume" [styles]="{'transform':'rotate(-40deg)'}"></fa-icon> 900-720-6290 / 896-163-5454 <fa-icon ngClass="fa-at" [icon]="faAt"></fa-icon> infokarimul@gmail.com</p>
                     </address>

                     
            </div>
            <div class="col-md-5">
                <div class="cont-form">
                    <h1 class="form-title">Let’s Build the Future, <br><b>TOGETHER!</b></h1>
                    <span class="form-desc">Send Us Your Query and Get A Call from One of Our Experts</span>
                    <br>
                    <div class="form-group mb-4">
                        <input type="text" placeholder="Your Name" class="form-input">
                    </div>
     
                    <div class="form-group mb-4">
                        <input type="text" placeholder="Company Name" class="form-input">
                    </div>
     
                    <div class="form-group mb-4">
                        <input type="text" placeholder="Email" class="form-input">
                    </div>
     
                    <div class="form-group mb-4">
                        <input type="text" placeholder="Phone Number" class="form-input">
                    </div>
     
                    <div class="form-group mb-4">
                        <input type="text" placeholder="Your Ideas" class="form-input">
                    </div>
     
                    <button type="submit" class="contact">SEND YOUR MESSAGE</button>
                </div>

              <div class="other-way-to-connect">
                <h1 class="other-way">Other Ways to Connect</h1>
                <p class="phone">+91 900-7206-290</p>
                <p class="skype">skype.intlum.com</p>
              </div>

            </div>
        </div>
    </div>
</div>
