@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=PT+Sans+Narrow&family=Poppins:wght@300;400&family=Roboto:wght@400&display=swap");
/*#DCDCDD*/
/*#C5C3C6*/
/*#46494C*/
body, div, * {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  transition: all 0.5s;
}

.main {
  width: 100%;
  height: 800px;
  background-image: linear-gradient(to bottom right, #2c38a4 20%, #14b585);
}

/*top line coding start here*/
div .logo-action-cont {
  width: 100%;
  height: 75px;
  background-image: linear-gradient(to right, 70% #2634AA, 30% #137659);
  padding: 0% 10%;
  z-index: 1000;
}
div .logo {
  width: 50%;
  height: 100%;
  float: left;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
div .logo img {
  border-right: 1px solid #DCDCDD;
  padding-right: 5px;
}
div .logo span {
  display: block;
  padding-left: 8px;
  color: #DCDCDD;
  font-family: "Montserrat", sans-serif;
  font-size: 13px;
  font-weight: 600;
}
div .action {
  width: 50%;
  height: 100%;
  float: left;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
div .action button {
  padding: 10px 18px;
  color: #FFFFFF;
  background-color: #33BE74;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  border: none;
  border-radius: 5px;
}

/*top line coding end here*/
/*start navbar coding here*/
.div-header-nav {
  width: 100%;
  height: 100px;
  background-color: #F6FFF8;
  z-index: 100;
}

.mobile-navbar-cont {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 14px;
  display: none;
}

.mobile-navbar-cont img {
  margin-top: 6px;
}

.mobile-icon {
  display: none;
  width: auto;
  height: 100%;
}

.mobile-icon fa-icon {
  margin-right: 20px;
  cursor: pointer;
  font-size: 30px;
}

.mobile-nav-cont-hide {
  width: 100%;
  height: 100vh;
  background-color: #2E39BF;
  position: fixed;
  top: 0px;
  right: -2000px;
  z-index: 2500;
  padding: 10px 0px;
  display: none;
  overflow: scroll;
}

.mobile-nav-cont-show {
  width: 100%;
  height: 100vh;
  background-color: #2E39BF;
  position: fixed;
  top: 0px;
  right: 0px;
  z-index: 2500;
  padding: 20px 0px;
  transition: all 1s ease-in-out 500ms;
  display: none;
  overflow: scroll;
}

.mobile-nav {
  list-style: none;
}

.mobile-nav-sub-hide-services {
  list-style: none;
  display: none;
}

.mobile-nav-sub-show-services {
  list-style: none;
  display: none;
}

.mobile-nav-sub-hide-about {
  list-style: none;
  display: none;
}

.mobile-nav-sub-show-about {
  list-style: none;
  display: block;
}

.mobile-nav-sub-hide-next-gen {
  list-style: none;
  display: none;
}

.mobile-nav-sub-show-next-gen {
  list-style: none;
  display: block;
}

.mobile-nav-item {
  width: 100%;
  padding: 15px 0px;
  display: flex;
  justify-content: space-between;
  position: relative;
  flex-direction: column;
  height: auto;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.mobile-nav-item div {
  display: flex;
  justify-content: space-between;
  padding: 0px 16px;
}

.mobile-nav-item-sub {
  width: 100%;
  padding: 10px 16px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
  background-color: #3E6BE2;
}

.mobile-nav-item:first-child i {
  color: white;
  font-size: 20px;
  cursor: pointer;
  background-color: #46494C;
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.mobile-nav-item a {
  display: block;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 600;
  font-family: "Monster", sans-serif;
  font-size: 13px;
  margin: 6px 0px;
}

.mobile-nav-item i {
  color: white;
  font-size: 18px;
  cursor: pointer;
  font-weight: 600;
}

.mobile-nav-item-sub i {
  color: white;
  font-size: 16px;
  cursor: pointer;
  margin-right: 20px;
}

.top-bar {
  width: 80%;
  height: 100%;
  padding: 0px 0px;
  position: relative;
}

.call-number {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: 100%;
  text-align: center;
  background-color: #33BE74;
  display: flex;
  padding: 5px 14px;
  justify-content: center;
  align-items: center;
}

.call-mobile {
  display: none;
  width: 100%;
  height: 100%;
  align-items: center;
}

.call-number span {
  font-family: "Montserrat", sans-serif;
  color: #FFFFFF;
  font-weight: 600;
}

/*  hover nav bar  */
.nav {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  height: 100%;
}

.nav li {
  cursor: pointer;
  display: flex;
  align-items: center;
}

.nav li a {
  color: #46494C;
  font-weight: 600;
  font-family: "Roboto", sans-serif;
  font-size: 13px;
  text-transform: uppercase;
}

.active {
  color: #33BE74 !important;
}

/*End navbar coding here*/
/* Start hero section coding here*/
.caption-cont {
  width: 100%;
  height: 50%;
  background-color: transparent;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.caption-cont h1 {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  color: white;
  font-size: 3rem;
}

.caption-cont .highlight {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  color: #15BFFD;
}

.caption-cont p {
  color: white;
  font-family: "Montserrat", sans-serif;
  margin: 10px 0px;
  font-size: 5mm;
}

.caption-cont button {
  padding: 15px 25px;
  border: 0;
  color: white;
  border-radius: 5px;
  background-color: #33BE74;
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  margin-top: 15px;
  font-size: 16px;
}

/*start animate cont coding here*/
.animate-cont {
  width: 100%;
  height: 50%;
  background-color: transparent;
  position: relative;
}

/*Three pilars coding start*/
#animate-one {
  display: block;
  position: absolute;
  top: -40px;
  left: 200px;
  width: 100px;
  height: auto;
  z-index: 5;
  -webkit-animation: animate-one 2s infinite linear alternate backwards;
          animation: animate-one 2s infinite linear alternate backwards;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

@-webkit-keyframes animate-one {
  0% {
    top: -40px;
  }
  100% {
    top: -30px;
  }
}

@keyframes animate-one {
  0% {
    top: -40px;
  }
  100% {
    top: -30px;
  }
}
#animate-two {
  display: block;
  position: absolute;
  top: 0px;
  left: 10px;
  width: 100px;
  height: auto;
  z-index: 1002;
  -webkit-animation: animate-two 3s infinite linear alternate backwards;
          animation: animate-two 3s infinite linear alternate backwards;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

@-webkit-keyframes animate-two {
  0% {
    top: 0px;
  }
  100% {
    top: 20px;
  }
}

@keyframes animate-two {
  0% {
    top: 0px;
  }
  100% {
    top: 20px;
  }
}
#animate-three {
  display: block;
  position: absolute;
  bottom: 12px;
  left: 0px;
  width: 90px;
  height: auto;
  z-index: 104;
  -webkit-animation: animate-three 2s infinite linear alternate backwards;
          animation: animate-three 2s infinite linear alternate backwards;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

@-webkit-keyframes animate-three {
  0% {
    bottom: 0px;
  }
  100% {
    bottom: 12px;
  }
}

@keyframes animate-three {
  0% {
    bottom: 0px;
  }
  100% {
    bottom: 12px;
  }
}
/*Three pilars coding end here*/
/*Four screen coding start here*/
#screen-one {
  display: block;
  position: absolute;
  top: -50px;
  left: 50px;
  width: 70px;
  z-index: 100;
  -webkit-animation: screen-one 2.5s infinite linear alternate backwards;
          animation: screen-one 2.5s infinite linear alternate backwards;
}

@-webkit-keyframes screen-one {
  0% {
    top: -55px;
  }
  100% {
    top: -50px;
  }
}

@keyframes screen-one {
  0% {
    top: -55px;
  }
  100% {
    top: -50px;
  }
}
#screen-two {
  position: absolute;
  top: -60px;
  left: 200px;
  width: 170px;
  z-index: 100;
  -webkit-animation: screen-two 3s infinite linear alternate backwards;
          animation: screen-two 3s infinite linear alternate backwards;
  transition: all 0.5s;
}

@-webkit-keyframes screen-two {
  0% {
    top: -70px;
  }
  100% {
    top: -60px;
  }
}

@keyframes screen-two {
  0% {
    top: -70px;
  }
  100% {
    top: -60px;
  }
}
#screen-three {
  position: absolute;
  top: -50px;
  left: -50px;
  width: 150px;
  z-index: 100;
  -webkit-animation: screen-three 2s infinite linear alternate both;
          animation: screen-three 2s infinite linear alternate both;
}

@-webkit-keyframes screen-three {
  0% {
    top: -60px;
  }
  100% {
    top: -50px;
  }
}

@keyframes screen-three {
  0% {
    top: -60px;
  }
  100% {
    top: -50px;
  }
}
#screen-four {
  position: absolute;
  top: 150px;
  left: 250px;
  width: 200px;
  z-index: 1001;
  transition: all 0.5s;
  -webkit-animation: screen-four 2s infinite linear alternate both;
          animation: screen-four 2s infinite linear alternate both;
}

@-webkit-keyframes screen-four {
  0% {
    top: 160px;
  }
  100% {
    top: 150px;
  }
}

@keyframes screen-four {
  0% {
    top: 160px;
  }
  100% {
    top: 150px;
  }
}
.img-animate {
  position: absolute;
  height: 43px;
  width: 53px;
  top: 40px;
  left: 145px;
  transform: skew(0deg, -32deg);
  overflow: hidden;
  z-index: 200;
}

.screen-animate {
  background: url(https://intlum.com/wp-content/themes/intlum/images/computer-screen-2.jpg) #237bbc;
  background-repeat: repeat-y;
  background-size: contain;
  height: 300px;
  width: 76px;
  transform: skew(0deg, 31deg);
  background-position: -7px -33px;
  top: -25px;
  position: absolute;
  -webkit-animation: animate-screen 5s infinite linear backwards;
          animation: animate-screen 5s infinite linear backwards;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

@-webkit-keyframes animate-screen {
  0% {
    top: -20.9%;
  }
  100% {
    top: -95%;
  }
}

@keyframes animate-screen {
  0% {
    top: -20.9%;
  }
  100% {
    top: -95%;
  }
}
/*Four screen coding end here*/
/*End animate cont coding here*/
/*Graphics image in hero section*/
.manwithcom-img {
  width: 250px;
  height: auto;
  position: absolute;
  bottom: 40px;
  left: 160px;
  z-index: 100;
}

/*Background graphics here*/
.circuit-svg-div {
  z-index: -2000;
  width: 350px;
  margin: 20% auto;
  opacity: 1;
  -webkit-animation: g-background 3s infinite alternate backwards;
          animation: g-background 3s infinite alternate backwards;
}

@-webkit-keyframes g-background {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.1;
  }
}

@keyframes g-background {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.1;
  }
}
/*End Graphics image in hero section*/
@media (max-width: 985px) {
  /*Navigation mobile/desktop bar control*/
  .mobile-navbar-cont {
    display: block;
  }
  .top-bar {
    display: none;
  }
  .mobile-icon {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  .call-mobile {
    display: block;
  }
  .mobile-nav-cont-hide, .mobile-nav-cont-show {
    display: block;
  }
  /*start hero section coding here*/
  .main {
    height: 800px;
  }
  .caption-cont {
    height: auto;
    width: 100%;
    align-items: center;
    margin: 0em auto;
    padding: 30px 10px;
  }
  .caption-cont h1 {
    font-size: 1.7rem;
  }
  .caption-cont p {
    font-size: 4mm;
    text-align: center;
  }
  .animate-cont {
    width: 80%;
    height: 300px;
  }
  /*Three pilars coding start*/
  #animate-one {
    top: 10px;
    left: 100px;
    width: 100px;
  }
  #animate-two {
    top: 100px;
    left: 10px;
    width: 100px;
  }
  #animate-three {
    bottom: 12px;
    left: 0px;
    width: 90px;
  }
  /*Three pilars coding end here*/
  /*Four screen coding start here*/
  .screen-one {
    width: 90px;
  }
  .screen-two {
    width: 90px;
  }
  .screen-three {
    width: 100px;
  }
  .screen-four {
    width: 100px;
  }
  .manwithcom-img {
    width: 50%;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
    text-align: center;
  }
  .circuit-svg-div {
    z-index: -2000;
    width: 300px;
    margin: 25% auto;
  }
  /*scroll screen*/
  .img-animate {
    position: absolute;
    height: 40px;
    width: 40px;
    top: 10px;
    left: 162px;
    transform: skew(0deg, -31deg);
    overflow: hidden;
    z-index: 200;
  }
  .screen-animate {
    background: url(https://intlum.com/wp-content/themes/intlum/images/computer-screen-2.jpg) #237bbc;
    background-repeat: repeat-y;
    background-size: contain;
    height: 300px;
    width: 76px;
    transform: skew(0deg, 31deg);
    background-position: -7px -33px;
    top: -25px;
    position: relative;
    -webkit-animation: animate-screen 5s infinite linear both;
            animation: animate-screen 5s infinite linear both;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
  }
  /*Four screen coding end here*/
  /*End hero section coding here*/
}
/*Top line coding start here*/
@media (max-width: 769px) {
  .logo-action-cont {
    padding: 0% 2%;
  }
  .logo {
    width: 55%;
  }
  .logo img {
    width: 110px;
  }
  .logo span {
    font-size: 12px;
    border: 1px solid green;
  }
  .action {
    border: 1px solid white;
    width: 45%;
  }
  .action button {
    padding: 9px 5px;
    font-size: 12px;
  }
}
@media (max-width: 414px) {
  .logo img {
    width: 80px;
  }
  .logo span {
    font-size: 10px;
  }
  .action button {
    padding: 9px 8px;
    font-size: 12px;
  }
}
@media (max-width: 375px) {
  .logo img {
    width: 90px;
  }
  .logo span {
    font-size: 9px;
  }
  .action button {
    padding: 9px 8px;
    font-size: 10px;
  }
}
/*top line coding end here*/