<div class="main">
    <h1 class="title">Core Expertise And Services Offered By The Best Web Developers In Kolkata</h1>
    <div class="content-cont">
        <div class="cont-one">
            <div class="headline" style="background-color:#45D387;"><h2>WEB DESIGN
                </h2><h3>SOLUTION</h3></div>
                <div class="content">
                    <p><span style="color:#45D387;margin:0px 6px;">&#10097;&#10097;</span>Web Page Design</p>
                    <p><span style="color:#45D387;margin:0px 6px;">&#10097;&#10097;</span>Landing Page Design</p>
                    <p><span style="color:#45D387;margin:0px 6px;">&#10097;&#10097;</span>User Experience (UX) Design</p>
                    <p><span style="color:#45D387;margin:0px 6px;">&#10097;&#10097;</span>User Interface (UI) Design</p>
                    <p><span style="color:#45D387;margin:0px 6px;">&#10097;&#10097;</span>Responsive Web Design</p>
                    <p><span style="color:#45D387;margin:0px 6px;">&#10097;&#10097;</span>Mobile Site Design</p>
                    <p><span style="color:#45D387;margin:0px 6px;">&#10097;&#10097;</span>Email Newsletter Design</p>
                    <p><span style="color:#45D387;margin:0px 6px;">&#10097;&#10097;</span>Social Media Page</p>
                    <p><span style="color:#45D387;margin:0px 6px;">&#10097;&#10097;</span>Logo Design</p>
                </div>
        </div>
        <div class="cont-two">
            <div class="headline" style="background-color:#3BC97D;"><h2>WEB DEVELOPMENT
                </h2><h3>SOLUTION</h3></div>
                <div class="content">
                    <p><span style="color:#45D387;margin:0px 6px;">&#10097;&#10097;</span>Ecommerce Site Development</p>
                    <p><span style="color:#45D387;margin:0px 6px;">&#10097;&#10097;</span>Multi-Vendor Ecommerce Development</p>
                    <p><span style="color:#45D387;margin:0px 6px;">&#10097;&#10097;</span>CMS Development</p>
                    <p><span style="color:#45D387;margin:0px 6px;">&#10097;&#10097;</span>Real Estate Portal Development</p>
                    <p><span style="color:#45D387;margin:0px 6px;">&#10097;&#10097;</span>Custom Web Development</p>
                    <p><span style="color:#45D387;margin:0px 6px;">&#10097;&#10097;</span>Educational Website Development</p>
                    <p><span style="color:#45D387;margin:0px 6px;">&#10097;&#10097;</span>Web Application Development</p>
                    <p><span style="color:#45D387;margin:0px 6px;">&#10097;&#10097;</span>Blogging Website Development</p>
                    <p><span style="color:#45D387;margin:0px 6px;">&#10097;&#10097;</span>Wordpress Theme Development</p>
                    <p><span style="color:#45D387;margin:0px 6px;">&#10097;&#10097;</span>Wordpress Plugin Development</p>
                </div>
        </div>
        <div class="cont-three">
            <div class="headline" style="background-color:#33BE74;"><h2>ONLINE MARKETING
                </h2><h3>SOLUTION</h3></div>
                <div class="content">
                    <p><span style="color:#45D387;margin:0px 6px;">&#10097;&#10097;</span>Content Strategy</p>
                    <p><span style="color:#45D387;margin:0px 6px;">&#10097;&#10097;</span>Professional Copywriting</p>
                    <p><span style="color:#45D387;margin:0px 6px;">&#10097;&#10097;</span>Search Engine Optimization</p>
                    <p><span style="color:#45D387;margin:0px 6px;">&#10097;&#10097;</span>Social Media Marketing</p>
                    <p><span style="color:#45D387;margin:0px 6px;">&#10097;&#10097;</span>Email Marketing</p>
                    <p><span style="color:#45D387;margin:0px 6px;">&#10097;&#10097;</span>Display Advertising</p>
                    <p><span style="color:#45D387;margin:0px 6px;">&#10097;&#10097;</span>Blog Marketing</p>
                    <p><span style="color:#45D387;margin:0px 6px;">&#10097;&#10097;</span>Online Public Relations</p>
                    <p><span style="color:#45D387;margin:0px 6px;">&#10097;&#10097;</span>Conversion Rate Optimization</p>
                    <p><span style="color:#45D387;margin:0px 6px;">&#10097;&#10097;</span>Pay-Per-Click Marketing</p>
                </div>
        </div>
    </div>
    
    
    </div>
    